<div id="material-example">
  <h1>Material Example</h1>
  <mat-toolbar color="primary">
    <span>Material Design Rocks!</span>
  </mat-toolbar>

  <br />
  <div class="material-items">
    <div class="btn">
      <button
        mat-raised-button
        matTooltip="Click to see material table page"
        matTooltipPosition="after"
        [routerLink]="'/table'"
      >
        Material table
      </button>
    </div>
    <div class="btn">
      <button
        mat-raised-button
        matTooltip="Click to see material buttons page"
        matTooltipPosition="after"
        [routerLink]="'/buttons'"
      >
        Material buttons
      </button>
    </div>
    <div class="btn">
      <button
        mat-raised-button
        matTooltip="Click to see material badges page"
        matTooltipPosition="after"
        [routerLink]="'/badges'"
      >
        Material badges
      </button>
    </div>
    <div class="btn">
      
      <button
        mat-raised-button
        matTooltip="Click to see material cards page"
        matTooltipPosition="after"
        [routerLink]="'/card'"
      >
        Material cards
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
